@CHARSET "UTF-8";

table {
	table-layout	: fixed;
	word-break		: break-all;
}

.font_red {
	color			: red;
}

.font_blue {
	color			: blue;
}

.font_green {
	color			: green;
}

.font_bold {
	font-weight		: bold;
}